@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-slate-200
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}


input[type='number']{
    width: 80px;
    height: 28px;
} 

